version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: russgames
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  backend:
    build: .
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://postgres:example@db:5432/russgames?sslmode=disable
    ports:
      - "8000:8000"

volumes:
  db_data: